    /* Hide all but the active tab text */
    .tabbrowser-tab:not([selected]) {
        width: 36px !important; 
        min-width: 36px !important;
        max-width: 36px !important;
    }
    .tabbrowser-tab:not([selected]) .tab-text,
    .tabbrowser-tab:not([selected]) .tab-close-button {
        display: none;
    }

    /* Expand all tabs to their normal size when hovering or focusing within the navigator-toolbox */
    #navigator-toolbox:hover #tabbrowser-tabs .tabbrowser-tab:not([selected]),
    #navigator-toolbox:focus-within #tabbrowser-tabs .tabbrowser-tab:not([selected]) {
        width: 200px !important;
        max-width: 200px !important;
    }

    #navigator-toolbox:hover #tabbrowser-tabs .tabbrowser-tab:not([selected]) .tab-text,
    #navigator-toolbox:hover #tabbrowser-tabs .tabbrowser-tab:not([selected]) .tab-close-button,
    #navigator-toolbox:focus-within #tabbrowser-tabs .tabbrowser-tab:not([selected]) .tab-text,
    #navigator-toolbox:focus-within #tabbrowser-tabs .tabbrowser-tab:not([selected]) .tab-close-button {
        display: initial;
    }