:root {
  --uc-autohide-toolbar-delay: 400ms;
  --uc-bm-height: 20px;
  --uc-bm-padding: 4px;
  --uc-autohide-toolbar-focus-rotation: 0deg;
  --uc-autohide-toolbar-hover-rotation: 0deg;
}

:root[uidensity="touch"] #PersonalToolbar {
  --uc-bm-padding: 7px;
}

:root[uidensity="compact"] #PersonalToolbar {
  --toolbarbutton-outer-padding: 1px !important;
  --uc-bm-padding: 2px;
}

#PersonalToolbar:not([customizing]) {
  position: relative;
  margin-bottom: calc(-1px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 135ms linear var(--uc-autohide-toolbar-delay) !important;
  background-color: transparent !important;
  background-repeat: no-repeat,no-repeat,var(--lwt-background-tiling);
  --uc-bg-y: calc(-2 * (var(--tab-block-margin) + var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding)) - var(--tab-min-height) - 24px - var(--bookmark-block-padding));
  background-position: top left,top left,var(--lwt-background-alignment,top left);
  background-position-y:top,top,var(--uc-bg-y),var(--uc-bg-y),var(--uc-bg-y);
  background-image: var(--toolbar-bgimage,linear-gradient(transparent,transparent)), linear-gradient(var(--toolbar-bgcolor),var(--toolbar-bgcolor)),var(--lwt-header-image,var(--lwt-additional-images)) !important;
}

#PlacesToolbarItems > .bookmark-item,
#OtherBookmarks,
#PersonalToolbar > #import-button {
  padding-block: var(--uc-bm-padding) !important;
}

#navigator-toolbox:hover #PersonalToolbar,
#navigator-toolbox:focus-within #PersonalToolbar,
#PersonalToolbar:hover {
  transition-delay: 100ms !important;
  transform: rotateX(var(--uc-autohide-toolbar-focus-rotation,0));
}

#navigator-toolbox {
  border-bottom-color: transparent !important;
}

#navigator-toolbox:hover ~ #browser,
#navigator-toolbox:focus-within ~ #browser {
  transition-delay: 100ms !important;
  transform: translateY(calc(var(--uc-bm-height) + var(--uc-bm-padding) + 1px));
  transition: transform 135ms;
}

#navigator-toolbox:not(:hover):not(:focus-within) ~ #browser {
  transform: translateY(0);
  transition: transform 135ms linear var(--uc-autohide-toolbar-delay);
}