@import url("autohide_bookmarks.css");

/* Modify it to suit your needs */
@media screen and (min-width: 1275px){
  :root[tabsintitlebar][sizemode="normal"]{
    --uc-window-drag-space-width: 24px;
  }
  :root[uidensity="compact"]{
    --tab-block-margin: 2px !important;
    }
  
  /* Modify these to change relative widths or default height */
  #navigator-toolbox{
    --uc-navigationbar-width: 45vw;
    --uc-toolbar-height: 40px;
  }

  #scrollbutton-up,
  #scrollbutton-down{ border-block-width: 2px !important; }
  
/* prevent urlbar overflow on narrow windows */
/* Dependent on how many items are in navigation toolbar ADJUST AS NEEDED */
  @media screen and (max-width: 1500px){
    #urlbar-container{
      min-width: 300px !important;
      flex-shrink: 1 !important;
    }
  }

  /* Override for other densities */
  :root[uidensity="compact"] #navigator-toolbox{ --uc-toolbar-height: 34px; }
  :root[uidensity="touch"] #navigator-toolbox{ --uc-toolbar-height: 44px; }

  #TabsToolbar{
    margin-left: 0;
    margin-right: var(--uc-navigationbar-width);
    --tabs-navbar-shadow-size: 0px;
  }
  #tabbrowser-tabs{
  --tab-min-height: calc(var(--uc-toolbar-height) - 2 * var(--tab-block-margin,0px)) !important;
  }
  .titlebar-buttonbox-container {
    display: none;
  }
  
  /* This isn't useful when tabs start in the middle of the window */
  .titlebar-spacer{
    display: none;
  }
  
  #navigator-toolbox > #nav-bar{
    margin-right: 0;
    margin-left: calc(100vw - var(--uc-navigationbar-width));;
    margin-top: calc(0px - var(--uc-toolbar-height));
    /* border-top: none !important; */
  }


}
/* Fix customization view */
#customization-panelWrapper > .panel-arrowbox > .panel-arrow{ margin-inline-end: initial !important; }