/* Page action-buttons "slide in" when cursor is on top of them and don't reserve space when not used */

#page-action-buttons {
  padding-inline-start: 30px
}

.urlbar-page-action {
  margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding) );
  opacity: 1;
  transition: margin-inline-end 100ms linear;
}

#page-action-buttons:hover > .urlbar-page-action,
.urlbar-page-action[open],
.urlbar-page-action[open] ~ .urlbar-page-action {
  opacity: 1;
  margin-inline-end: 0px !important;
}