:root {
    --transition-time: 1s;
}

/* Display the bookmarks toolbar when hovering over or focusing within the navigation toolbar */
#navigator-toolbox:hover > #PersonalToolbar,
#navigator-toolbox:focus-within > #PersonalToolbar {
    visibility: visible !important;
    transition: visibility var(--transition-time);
}

#navigator-toolbox:not(:hover):not(:focus-within) > #PersonalToolbar {
    visibility: collapse !important;
    transition: visibility var(--transition-time);
}

/* Push the web content down when the bookmarks toolbar is visible */
#navigator-toolbox:hover ~ #content-deck,
#navigator-toolbox:focus-within ~ #content-deck {
    margin-top: var(--toolbar-height);
    transition: margin-top var(--transition-time);
}

#navigator-toolbox:not(:hover):not(:focus-within) ~ #content-deck {
    margin-top: 0;
    transition: margin-top var(--transition-time);
}